<div class="container animate__animated animate__fadeIn h-100">
  <h1 class="display-6 mb-4">Create a new Order Entry</h1>

  <!-- Basic info inputs -->
  <div class="form-floating mb-2">
    <input class="form-control" id="storeCode" placeholder="MBD" [(ngModel)]="storeCode" (input)="searchStore()">
    <label for="storeCode">Store Code</label>
  </div>
  <div class="form-floating mb-2">
    <input class="form-control" id="requestedBy" placeholder="Mark Smith" [(ngModel)]="requestedBy">
    <label for="requestedBy">Requested by</label>
  </div>
  <div class="form-floating mb-2">
    <input class="form-control" id="email" placeholder="mark@wholefoods.com" [(ngModel)]="email">
    <label for="email">Email</label>
  </div>
  <div class="form-floating mb-3">
    <input class="form-control" id="Phone" placeholder="407-938-7000" [(ngModel)]="phone">
    <label for="phone">Phone</label>
  </div>
  <div class="d-flex justify-content-end mb-2">
    <button type="button" class="btn bg-orange-700 w-50 text-white" (click)="clearBasicFields()">
      Clear fields
    </button>
  </div>

  <!-- Store info Section -->
  <table class="table">
    <thead>
      <tr>
        <td scope="col" class="fs-4">Store Info:</td>
        <td scope="col" class="text-end"><a href="">Edit Store Info</a></td>
      </tr>
    </thead>
    <tbody *ngFor="let store of storeInfo">
      <tr colspan="2"><b>Code:</b>{{ store.storeCode }}</tr>
      <tr colspan="2"><b>Street:</b>{{ store.street }}</tr>
      <tr colspan="2"><b>Name:</b>{{ store.city }}</tr>
      <tr colspan="2"><b>Zip Code:</b>{{ store.zipCode }}</tr>
      <tr colspan="2"><b>Phone Number:</b>{{ store.phoneNumber }}</tr>
      <hr>
    </tbody>
  </table>

  <!-- Shipping Section -->
  <table class="table" *ngIf="shippingInfo">
    <thead>
      <tr>
        <td scope="col" class="fs-4">Shipping:</td>
        <td scope="col" class="text-end"><a href="">Edit Shipping Info</a></td>
      </tr>
    </thead>
    <tbody *ngFor="let Shipping of shippingInfo">
      <tr colspan="2"><b>Code:</b>{{ Shipping.storeCode }}</tr>
      <tr colspan="2"><b>Name:</b>{{ Shipping.name }}</tr>
      <tr colspan="2"><b>Street:</b>{{ Shipping.street }}</tr>
      <tr colspan="2"><b>City:</b>{{ Shipping.city }}</tr>
      <tr colspan="2"><b>Zip Code:</b>{{ Shipping.zipCode }}</tr>
      <tr colspan="2"><b>Phone Number:</b>{{ Shipping.phoneNumber }}</tr>
      <hr>
    </tbody>
  </table>

  <!-- Why we need this section? is related to the accordions?-->
  <!-- Units Section -->
  <table class="table" *ngIf="shippingInfo">
    <thead>
      <tr>
        <td scope="col" class="fs-4">Units</td>
        <td scope="col" class="text-end"><a href="">Edit Unit Layout</a></td>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

  <!-- We need to use components! -->
  <div class="accordion accordion-flush" id="accordionExample">
    <!-- Floor Graphics Accordion -->
    <div class="accordion-item mb-2">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed bg-orange-100 text-orange-900" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Floor Graphics
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne">
        <table class="table">
          <thead class="bg-orange-900 text-white">
            <tr>
              <td scope="col">Zone</td>
              <td scope="col">Quantity</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let info of rowArray; let i = index">
              <td>Pickup</td>
              <td>{{ i+1 * 2 }}</td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex flex-row-reverse">
          <div class="form-floating w-50">
            <input type="number" class="form-control" id="graphicTotal" placeholder="$0.0" [(ngModel)]="graphicTotal">
            <label for="graphicTotal">Total:</label>
          </div>
        </div>
      </div>
    </div>
    <!-- Racks Accordion -->
    <div class="accordion-item mb-2">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed bg-green-100 text-green-900" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Racks
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
        <table class="table">
          <thead class="bg-green-900 text-white">
            <tr>
              <td scope="col">Unit</td>
              <td scope="col">Model</td>
              <td scope="col">Zone</td>
              <td scope="col">Labels side 1</td>
              <td scope="col">Labels side 2</td>
              <td scope="col">Topper</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let info of rowArray; let i = index">
              <td>{{ i+1 }}</td>
              <td>Uline</td>
              <td>{{ (i+1)*2 }}</td>
              <td>
                <input class="form-check-input bg-green-900" type="checkbox" id="rackCheck">
              </td>
              <td>
                <input class="form-check-input bg-green-900" type="checkbox" id="rackCheck">
              </td>
              <td>
                <input class="form-check-input bg-green-900" type="checkbox" id="rackCheck">
              </td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex flex-row-reverse">
          <div class="form-floating w-50">
            <input type="number" class="form-control" id="rackTotal" placeholder="$0.0" [(ngModel)]="rackTotal">
            <label for="rackTotal">Total:</label>
          </div>
        </div>
      </div>
    </div>
    <!-- Chillers Accordion -->
    <div class="accordion-item mb-2">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed bg-aqua-100 text-aqua-800" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Chillers
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
        <table class="table">
          <thead class="bg-aqua-800 text-white">
            <tr>
              <td scope="col">Unit</td>
              <td scope="col">Model</td>
              <td scope="col">Zone</td>
              <td scope="col">Exterior labels</td>
              <td scope="col">Interior labels</td>
              <td scope="col">Topper</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let info of rowArray; let i = index">
              <td>{{ i+1 }}</td>
              <td>True</td>
              <td>{{ (i+1)*2 }}</td>
              <td>
                <input class="form-check-input bg-aqua-800" type="checkbox" id="rackCheck">
              </td>
              <td>
                <input class="form-check-input bg-aqua-800" type="checkbox" id="rackCheck">
              </td>
              <td>
                <input class="form-check-input bg-aqua-800" type="checkbox" id="rackCheck">
              </td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex flex-row-reverse">
          <div class="form-floating w-50">
            <input type="number" class="form-control" id="chillerTotal" placeholder="$0.0" [(ngModel)]="chillerTotal">
            <label for="chillerTotal">Total:</label>
          </div>
        </div>
      </div>
    </div>
    <!-- Freezers Accordion -->
    <div class="accordion-item mb-2">
      <h2 class="accordion-header" id="headingFounr">
        <button class="accordion-button collapsed bg-blue-100 text-blue-900" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Freezers
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour">
        <table class="table">
          <thead class="bg-blue-900 text-white">
            <tr>
              <td scope="col">Unit</td>
              <td scope="col">Model</td>
              <td scope="col">Zone</td>
              <td scope="col">Labels</td>
              <td scope="col">Topper</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let info of rowArray; let i = index">
              <td>{{ i+1 }}</td>
              <td>True</td>
              <td>{{ (i+1)*2 }}</td>
              <td>
                <input class="form-check-input bg-blue-900" type="checkbox" id="rackCheck">
              </td>
              <td>
                <input class="form-check-input bg-blue-900" type="checkbox" id="rackCheck">
              </td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex flex-row-reverse">
          <div class="form-floating w-50">
            <input type="number" class="form-control" id="freezerTotal" placeholder="$0.0" [(ngModel)]="freezerTotal">
            <label for="freezerTotal">Total:</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- I need to use reactive forms to reduce the binding data of the totals of each accordion -->
  <div class="d-flex justify-content-end mb-2">
    <div class="form-floating w-50">
      <input type="number" class="form-control" id="orderTotal" placeholder="$0.0" disabled
        [ngModel]="graphicTotal + rackTotal + chillerTotal + freezerTotal">
      <label for="orderTotal">Order Total:</label>
    </div>
  </div>

  <div class="d-flex justify-content-end mb-2">
    <button type="button" class="btn bg-orange-700 w-50 text-white" (click)="submit()">Submit</button>
  </div>
</div>
